body {
    font-family: Arial, Helvetica, sans-serif;
}

table, th, td {
    border-style: solid;
    border-width: 1pt;
}

.refreshDate {
    font-size: 8pt;
    font-style: italic;
}

.rowNumber {
    text-align: right;
}

.rowNumber, th {
    background-color: silver;
}

.cellBox {
    width: 100px;
}